# project files
docs/reference
node_modules

# react output
content/panorama/layout/custom_game/react

game/*.bin
game/resource/custom_game_whitelist.txt
game/maps/dota.vpk

# panorama auto compiled output
game/panorama_debugger.cfg
game/panorama/layout/custom_game/
game/panorama/scripts/custom_game/
game/panorama/styles/custom_game/
game/panorama/images/heroes/**/*.vxml_c
game/panorama/images/custom_game/lottery

# tstl output
game/scripts/vscripts/addon_game_mode.lua
game/scripts/vscripts/ai/
game/scripts/vscripts/api/
game/scripts/vscripts/modules/
game/scripts/vscripts/server/
game/scripts/vscripts/utils/
game/scripts/vscripts/modifiers/property
game/scripts/vscripts/modifiers/global

#忽略
game/.idea/
game/materials/