{
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": false,
  "overrides": [
    {
      "files": ["*.js", "*.ts", "*.tsx"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
