// 按钮样式
.PlayButton {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#5a615ecc), to(#879695cc));
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#5aa15e), to(#87d69533));
  background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
  background-size: 100% 100%;
  box-shadow: fill #002a6644 1px 1px 8px 1px;
  border-top: 1px solid #ffffff44;
  border-right: 1px solid #00000088;
  border-left: 1px solid #ffffff44;
  border-bottom: 1px solid #00000088;
  transition-timing-function: ease-in-out;

  //
}

.PlayButton:hover {
  brightness: 1.2;
}

.PlayButton Label {
  margin: 2px;
  font-size: 28px;
  color: white;
  transition-timing-function: ease-in-out;
}
